// Externals
@font-face {
  font-family: gotham;
  src: url('../../../src/assets/fonts/GothamMedium_1.ttf');
  // src: url('../fonts/GothamMedium_1.ttf');
}

@font-face {
  font-family: gotham-light;
  src: url('../../../src/assets/fonts/GothamLight.ttf');
  // src: url('../fonts/GothamLight.ttf');
}

@font-face {
  font-family: circular-book;
  src: url('../../../src/assets/fonts/CircularSpotifyText-Book.otf');
}

// @font-face {
//   font-family: gotham-light;
//   src: url('/src/assets/fonts/GothamMedium_1.ttf');
// }
@font-face {
  font-family: Roboto-Regular;
  src: url('../../../src/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Circular-light;
  // src: url('../fonts/CircularStd-Light.otf');
  src: url('../../../src/assets/fonts/CircularStd-Light.otf');
}

@font-face {
  font-family: Circular-medium;
  src: url('../../../src/assets/fonts/CircularSpotifyText-Medium.otf');
}
// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';

// Basics
@import 'basics/typography';
@import 'basics/base';
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/animations';

// Views
@import 'views/StationIndex';
@import 'views/StationDetails';
@import 'views/Login';
@import 'views/Signup';
@import 'views/SongLyrics';
@import 'views/OnlyLyrics';
@import 'views/MobileSearchHeader.scss';
@import 'views/SerachSongsMobile.scss';
@import 'views/SongDetails.scss';
// Components
@import 'cmps/AppFooter';
@import 'cmps/AppNav';
@import 'cmps/UserLibrary';
@import 'cmps/AppHeader';
@import 'cmps/StationPreview';
@import 'cmps/StationList.scss';
@import 'cmps/MediaPlayer.scss';
@import 'cmps/UserModal.scss';
@import 'cmps/SortModal.scss';
@import 'cmps/SearchCategoryList.scss';
@import 'cmps/SearchCategoryPreview.scss';
@import 'cmps/Search.scss';
@import 'cmps/BubblingHeart.scss';
@import 'cmps/UserStationsPreview.scss';
@import 'cmps/UserStationList.scss';
@import 'cmps/UserStationsIndex.scss';
@import 'cmps/SongOptionsModal.scss';
@import 'cmps/AddSongModal.scss';
@import 'cmps/StationOptionsModal.scss';
@import 'cmps/DeleteStationModal.scss';
@import 'cmps/RecommindationModal.scss';
@import 'cmps/Recommended.scss';

@import 'cmps/RecommendedPreview.scss';
@import 'cmps/EditUserStationModal.scss';
@import 'cmps/SearchSongs.scss';
@import 'cmps/ImageLoader.scss';
@import 'cmps/AppLoader.scss';
@import 'cmps/UserMsg.scss';
@import 'cmps/UserDetails.scss';
@import 'cmps/LatestStationsList.scss';
@import 'cmps/LatestStationsPreview.scss';
@import 'cmps/Mobile/BottomNav.scss';
@import 'cmps/Mobile/MobileMediaPlayer.scss';
@import 'cmps/Transcript.scss';
@import 'cmps/StationLikedSongs.scss';
@import 'cmps/SignupModal.scss';
@import 'cmps/AIImageGenerator.scss';
@import 'cmps/MobileModal.scss';
@import 'cmps/UserDetailsPreview.scss';
@import 'cmps/UserDetailsList.scss';
@import 'cmps/UserDetailsIndex.scss';
@import 'cmps/UserStationLibraryMobile.scss';
@import 'cmps/EditStationMobile.scss';
@import 'cmps/EditStationMobilePreview.scss';
@import 'cmps/SearchSongsMobilePreview.scss';
