.robot-preview {
    background: #03a9f414;
    background-repeat: no-repeat;

    box-shadow: 0 0 11px #0000002b;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    .info {
        padding: 10px;
        flex-grow: 1;
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 25%;
        padding: 10px;
        background-color: #000000c9;
        transform: translateY(100%);
        transition: transform 0.2s;
        a {
            color: white;
        }
    }

    &:hover .actions {
        transform: translateY(0);
    }
}
