.app-footer {
  height: 72px;
  padding: 0 16px;
  background-color: $clr2;
  grid-row: 3;
  grid-column: 1/-1;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  // position: fixed;
  // bottom: 0;

  .song-details {
    display: flex;
    .image {
      width: 80px;
      height: 80px;
      img {
        border-radius: 10px;
      }
    }

    .actor-name-song {
      display: flex;
      flex-direction: column;
      margin-inline-start: 0.5em;
      .actor-name {
        margin-top: 0;
      }
    }
  }
  .song-details-two {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: rem(16px);
    i {
      fill: #b3b3b3;
      &:hover {
        fill: white;
      }
    }
  }
}
