.app-footer {
  height: 72px;
  padding: 0 16px;
  background-color: $clr2;
  grid-row: 3;
  grid-column: 1/-1;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  // position: fixed;
  // bottom: 0;

  .song-details {
    display: flex;
    align-items: center;
    gap: rem(24px);
    justify-items: center;
    .image {
      width: 80px;
      height: 80px;
      img {
        border-radius: 10px;
      }
    }
    .heart-picture-icons {
      display: flex;
      align-items: center;
      justify-items: center;
      gap: rem(24px);
    }

    .actor-name-song {
      display: flex;
      flex-direction: column;
      gap: 0;
      margin-inline-start: 0.5em;
      font-family: Circular-light;
      .song-name {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 0.8125rem;
        font-weight: 400;
      }
      .actor-name {
        margin: 0;
        padding: 0;
        color: #b3b3b3;
      }
    }
  }
  .song-details-two {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: rem(16px);
    span {
      fill: #b3b3b3;
      &:hover {
        fill: white;
      }
    }
  }
}
