.app-footer {
  height: rem(72px);
  min-height: rem(80px);
  padding: 0 16px;
  background-color: $clr2;
  grid-row: 3;
  grid-column: 1/-1;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  @include for-mobile-layout {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 40px 190px 5px 1fr;
    height: rem(58px);
    min-height: rem(58px);
    padding: 8px;
    border-radius: 6px;
    bottom: 83px;
    left: 7px;
    right: 7px;
  }

  .mobile-heart {
    display: none;
    margin-left: 14.75rem;

    button {
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
    }
    .heart-svg {
      margin-right: -10px;
    }
    .play-pause {
      // margin-top: rem(9px);
      svg {
        fill: white;
        width: 20px;
        margin-top: 7px;
        height: 20px;
      }
    }
    span {
      margin: 0;
      padding: 0;
    }
    @include for-mobile-layout {
      display: flex;
      justify-items: center;
      align-items: center;
    }
  }

  .song-details {
    display: flex;
    align-items: center;
    gap: rem(10px);
    justify-items: center;
    @include for-mobile-layout {
      display: grid;
      grid-auto-flow: column;
      align-items: end;
      grid-template-columns: 40px 190px 5px 1fr;
      grid-row: 1;
      grid-column: 1/-1;
      gap: rem(0px);
    }
    .image {
      width: rem(56px);
      height: rem(56px);
      @include for-mobile-layout {
        width: rem(40px);
        height: rem(40px);
      }
      img {
        border-radius: 4px;
      }
    }
    .heart-picture-icons {
      display: flex;
      align-items: center;
      justify-items: center;
      gap: rem(24px);
      @include for-mobile-layout {
        display: none;
      }
      .picture-icon {
        svg {
          g {
            fill: #b3b3b3;
            &:hover {
              fill: white;
            }
          }
        }
      }
    }

    .actor-name-song {
      display: flex;
      flex-direction: column;
      gap: rem(5px);
      // margin-inline-start: -2em;
      font-family: Circular-medium;
      letter-spacing: rem(0.4px);
      @include for-mobile-layout {
        gap: rem(2px);
        width: 175px;
        margin-inline-start: 0;
      }
      .song-name {
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 0.8125rem;
        font-weight: 400;
        margin-right: rem(20px);
        @include for-mobile-layout {
          margin-right: rem(0px);
        }
      }
      .actor-name {
        margin: 0;
        padding: 0;
        color: #b3b3b3;
        font-size: 0.6875rem;
        font-weight: 400;
        @include for-mobile-layout {
          color: white;
          font-family: circular-light;
        }
      }
    }
  }
  .song-details-two {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: flex-end;
    @include for-mobile-layout {
      display: none;
    }
    gap: rem(16px);
    span {
      margin-top: 10px;
      fill: #b3b3b3;
      &:hover {
        fill: white;
      }
    }
  }
}

input[type='range'] {
  overflow: hidden;
  width: 100px;
  height: 4px;
  -webkit-appearance: none;
  background-color: #949494;
  border-radius: 3px;
}
input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  background-color: whitesmoke;
  box-shadow: -80px 0 0 80px white;
  border-radius: 50%;
}

input[type='range']::-webkit-slider-thumb:hover {
  box-shadow: -80px 0 0 80px $clrGreen;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background-color: whitesmoke;
  border-radius: 50%;
}

input[type='range']::-moz-range-thumb:hover {
  background-color: $clrGreen;
  cursor: pointer;
}

input[type='range']::-moz-range-progress {
  background-color: white;
}

input[type='range']::-moz-range-track {
  background-color: #b7b7b7;
}

input[type='range']::-ms-fill-lower {
  background-color: white;
}
