.app-header {
  position: sticky;
  top: 0;
  grid-column: 2;
  grid-row: 1;
  // after scrolling - 
  // background-color: $clr4;
  background-color: transparent;
  height: 60px;
  border-radius: 5px;
}
