.app-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  grid-column: 2;
  grid-row: 1;
  padding: 20px;
  background-color: transparent;
  // after scrolling -
  height: 60px;
  border-radius: 5px;
  z-index: 2;
  transition: background-color 0.3s ease-in-out;
  .arrows-and-input {
    display: flex;
    gap: 8px;
    .arrows {
      display: flex;
      gap: 8px;

      .black-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
        background-color: #000000b3;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        svg {
          fill: white;
          margin-block-start: 3px;
        }
      }
    }
    input {
      background-color: #242424;
      border: 0;
      border-radius: 500px;
      color: #fff !important;
      height: 48px;
      padding: 6px 36px;
      text-overflow: ellipsis;
      width: 364px;
      &:hover {
        border: 1px solid #404040;
        outline: none;
      }
      &:focus {
        border: 1px solid white;
        outline: none;
      }
    }
  }
  .user-actions {
    gap: 10px;
    .user-icon {
      background-color: rgba(0, 0, 0, 0.54);
      flex-wrap: wrap;
      border-radius: 50%;
      height: 32px;
      width: 32px;
      fill: white;
      align-content: center;
      &:hover {
        background-color: rgba(0, 0, 0, 0.72);
        transform: scale(1.04);
      }
    }
    .login {
      font-size: 1rem;
      font-weight: 700;
      border: 0;
      border-radius: 500px;
      font-size: inherit;
      min-block-size: 48px;
      padding-inline: 32px;

      &:hover {
        transform: scale(1.04);
      }
    }
    .sign-up {

      font-size: 1rem;
      font-weight: 700;
      font-family: Circular-medium;
      background-color: transparent;
      border: 0px;
      border-radius: 500px;
      transition-duration: 33ms;
      color: $clr15;
      padding-inline: 12px;
      &:hover {
        color: white;
        transform: scale(1.04);
      }
    }
    img {
      min-block-size: 32px;
      width: auto;
    }
  }
}
