.app-nav {
  background-color: $clr7;
  margin-block-end: rem(8px);
  border-radius: 7px;
  font-family: Circular-medium;
  color: $clr6;
  max-height: 112px;
  padding: 17px 25px;
  > * {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    svg {
      fill: $clr6;
    }
  }
}
