.app-nav {
  background-color: $clr7;
  margin-block-end: rem(8px);
  border-radius: 7px;
  font-family: Circular-medium;
  max-height: 112px;
  min-width: 318px;
  padding: 17px 25px;
  a {
    text-decoration: none;
  }
  .shared-nav-item {
    display: flex;
    align-items: center;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    color: $clr6;
    svg {
      fill: $clr6;
    }
  }
}
