.edit-station-mobile-preview {
    .preview-img-container {
        background-color: $clr5;
        width: rem(50px);
        height: rem(50px);
        .preview-img {
            padding: rem(5px);
        }
    }
}