.modal-container {
  position: absolute;
  top: 30%;
  left: 40%;
  width: rem(524px);
  height: rem(390px);
  z-index: 10;
  padding: rem(20px);
  border-radius: 8px;
  background-color: #282828;
  .modal-header {
    justify-content: space-between;
    .edit-details {
      margin-block-end: rem(50px);
    }

    .x {
      fill: #bebebe;
      align-items: center;
      background-color: transparent;
      border: 0;
      border-radius: rem(32px);
      width: rem(32px);
      height: rem(32px);
      margin-block-end: rem(40px);
      &:hover {
        background-color: #3e3e3e;
      }
    }
  }
  .default-image-div {
    width: rem(180px);
    height: rem(180px);
    box-shadow: 0 2px 8px rgba($clr2, 0.2), 0 1px 2px rgba($clr2, 0.1);
    .music-note {
      position: relative;
      left: 25%;
      top: 25%;
      z-index: 1;
      transform: translate(-6px, -5px);
      svg {
        fill: #282828;
        transition: color 0.3s ease;
      }
    }
  }
  .edit-actions {
    display: flex;
    gap: rem(15px);

    .cover-img {
      position: relative;
      width: 37%;
      height: rem(200px);
      margin-right: rem(20px);

      .img-edit {
        margin-inline-start: rem(25px);
        padding: rem(5px);
        width: 105%;
        height: 90%;
        object-fit: cover;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
      }
    }
    .inputs-container {
      gap: rem(15px);
      input {
        width: rem(280px);
        height: rem(40px);
        background-color: #3d3e3e;
        border: none;
        border-radius: 4px;
        padding: rem(10px);
        &:focus {
          background-color: #333;
          border: 1px solid #535353;
          outline: none;
        }
      }
      .bigger-input {
        width: rem(280px);
        height: rem(124px);
        background-color: #3d3e3e;
        border: none;
        resize: none;
        outline: none;
        border-radius: 4px;
        display: flex;
      }
    }
    .name-span {
      position: absolute;
      margin: rem(-5px) 0 0 rem(10px);
      font-size: 11px;
    }
    .descp-span {
      position: absolute;
      margin-top: rem(50px);
      margin-left: rem(10px);
      font-size: 11px;
    }
  }
  button {
    width: rem(100px);
    height: rem(48px);
    border-radius: 500px;
    background-color: $clr6;
    border: none;
    color: black;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    bottom: 5%;
    right: 5%;
  }
  p {
    font-size: 11px;
    position: absolute;
    bottom: 3%;
  }
}

.openai {
  margin-bottom: rem(58px);
  font-family: Circular-book;
  cursor: pointer;
  color: #ffffff;
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out; 
  &:hover {
    transform: scale(1.05); 
  }
}
@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #3f45fe, 0 0 30px #3f45fe,
      0 0 40px #3f45fe;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #3f45fe, 0 0 15px #3f45fe,
      0 0 20px #3f45fe;
  }
}

@-moz-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #3f45fe, 0 0 30px #3f45fe,
      0 0 40px #3f45fe;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #3f45fe, 0 0 15px #3f45fe,
      0 0 20px #3f45fe;
  }
}
@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #3f45fe, 0 0 30px #3f45fe,
      0 0 40px #3f45fe;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #3f45fe, 0 0 15px #3f45fe,
      0 0 20px #3f45fe;
  }
}
