.edit-station-mobile-preview {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  padding: rem(10px);
  gap: rem(10px);

  .preview-img-container {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: rem(24px);

    .name-and-artist {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      gap: rem(10px);

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  span {
    svg {
      fill: white;
    }
  }
}
