.latest-stations-container{
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 16px;
    margin-top: 70px;
    margin-bottom: -90px;
    padding: 55px 24px;
}