.latest-stations-article {
    width: 350px;
    height: 80px;
    background-color: #51515187;
    border-radius: 5px;
    span {
        padding: 15px;
        font-size: 16px;
        font-family:  circular-medium;
    }
    img {
        width: 85px;
    }
}