.control-buttons {
  display: flex;
  gap: 1.5rem;
  margin: rem(10px) 0 rem(8px) rem(14px);
  justify-content: center;
  align-items: center;
  @include for-mobile-layout {
    display: none;
    &.show-in-mobile {
      display: block;
      gap: 2.7rem;
      display: flex;
      margin: auto;
    }
  }
  .play-song-div {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: white;
    width: rem(32px);
    height: rem(32px);
    border-radius: 50%;
    justify-content: center;
    min-width: rem(32px);
    transition: opacity 0.1s 0.1s, transform 0.1s 0.1s;
    transform: translateY(-1%);
    @include for-mobile-layout {
      width: rem(56px);
      height: rem(56px);
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  span {
    fill: #b3b3b3;
    @include for-mobile-layout {
      svg {
        width: 24px;
        height: 24px;
      }
    }

    &:hover {
      fill: white;
    }
  }
  .special-i {
    display: flex;
    align-items: center;
    justify-items: center;
    fill: black;
    &:hover {
      fill: black;
    }
  }
}
.music-bar {
  margin-inline-start: rem(10px);
  display: flex;
  align-items: center;
  justify-items: center;
  gap: rem(8px);
  width: rem(690px);
  height: rem(20px);
  @include for-mobile-layout {
    width: 24.125rem;
    gap: rem(0px);
    margin-inline-start: rem(0px);
    height: 2px;
    margin-block-start: 8px;
  }
}

.current-time {
  font-size: 0.6875rem;
  font-family: Circular-medium;
  color: #b3b3b3;
  text-align: right;

  @include for-mobile-layout {
    display: none;
    &.show-in-mobile {
      display: block;
    }
    &.start {
      position: absolute;
      bottom: 150px;
    }
    &.end {
      position: absolute;
      bottom: 150px;
      right: 22px;
    }
  }
}

.progress-bar {
  flex: 1 1;
  height: rem(4px);
  background-color: #606060;
  position: relative;
  cursor: pointer;
  width: rem(400.12px);
  border-radius: 2px;
  @include for-mobile-layout {
    grid-row: 2;
    grid-column: 1/-1;
    width: 100%;
    height: rem(2px);
  }
}

.progress-bar-fill {
  position: absolute;
  height: 100%;

  background-color: white;
  border-radius: 10000px;
}

.progress-bar:hover .progress-bar-fill {
  background-color: #1db954;
}

.progress-bar-fill:after {
  content: '';
  position: absolute;
  right: rem(-5px);
  top: rem(-2px);
  height: rem(10px);
  width: rem(10px);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: none;
}

.progress-bar:hover .progress-bar-fill:after {
  display: block;
}

.progress-bar-audio {
  flex: 1 1;
  height: rem(5px);
  background-color: gray;
  position: relative;
  cursor: pointer;
  width: rem(110px);
  border-radius: 10000px;
}

.hidden-player {
  display: none;
}

.is-repeated {
  background: transparent;
  border: none;
  position: relative;
  span {
    svg {
      fill: #1db954;
    }
    &::after {
      background-color: #1db954;
      border-radius: 50%;
      bottom: 0;
      content: '';
      display: block;
      height: rem(4px);
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: rem(4px);
    }
  }
}
