.control-buttons {
  display: flex;
  gap: rem(16px);
  margin-bottom: rem(8px);
  align-items: center;
  justify-content: center;
  .play-song-div {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    justify-content: center;
  }
  span {
    fill: #b3b3b3;

    &:hover {
      fill: white;
    }
  }
  .special-i {
    display: flex;
    align-items: center;
    justify-items: center;

    fill: black;

    &:hover {
      fill: black;
    }
  }
}
