.mobile-modal {
  position: relative;
  width: 0;
  height: rem(736px);
  background-color: black;
  padding: rem(56px) rem(40px);
  z-index: 999;
  &.show {
    animation: navExpand 0.2s forwards;
  }
  &.hide {
    animation: navCollapse 0.2s forwards;
  }

  .x {
    position: absolute;
    top: 10px;
    right: 10px;
    svg {
      width: 20px;
      height: 20px;
      fill: white;
    }
  }
  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      padding: 12px 0;
      button {
        font-size: 1.5rem;
        font-weight: 700;
        height: 40px;
        font-family: circular-book;

        background: transparent;
        border: 0;
        border-radius: 2px;
        color: hsla(0, 0%, 100%, 0.9);
        cursor: default;
        text-decoration: none;
      }
    }
  }
}

@keyframes navExpand {
  0% {
    width: 0;
  }
  50% {
    width: rem(300px);
  }
  100% {
    width: rem(600px);
  }
}
@keyframes navCollapse {
  0% {
    width: rem(600px);
  }
  50% {
    width: rem(300px);
  }
  100% {
    width: 0;
  }
}
