.recommended {
  padding: rem(20px);
  .recommended-title {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 24px;
    }
    h4 {
        margin-top: rem(-10px);
      font-size: 14px;
      color: $clr3;
    }
  }
}
