.recommended-song {
  justify-content: space-between;
  gap: 8px;
  padding: 0 16px;
  position: relative;
  border: 1px solid transparent;
  height: 56px;
  border-radius: 4px;
  .small-play-btn {
    display: none;
  }
  &:hover {
    background-color: #292a2a;
  }
  &:hover .small-play-btn {
    display: block;
    margin-top: 17px;
    fill: $clr3;
  }
  .img-and-title {
    margin-inline-start: rem(12px);
    gap: 8px;
  }
  .song-img {
    height: 40px;
    width: 40px;
  }
  button {
    width: 60px;
    height: 32px;
    background-color: inherit;
    color: $clr6;
    border-radius: 500px;
    border: 1px solid rgba(255, 255, 255, 0.585);
    &:hover {
      border: 1px solid $clr6;
    }
  }
}
