.recommended-song {
  justify-content: space-between;
  gap: rem(8px);
  padding: 0 rem(16px);
  position: relative;
  border: 1px solid transparent;
  height: rem(56px);
  border-radius: 4px;
  .small-play-btn {
    display: none;
  }
  &:hover {
    background-color: #292a2a;
  }
  &:hover .small-play-btn {
    display: block;
    margin-top: rem(17px);
    fill: $clr3;
  }
  .img-and-title {
    // margin-inline-start: rem(12px);
    gap: rem(8px);
  }
  .song-img {
    height: rem(40px);
    width: rem(40px);
  }
  button {
    width: rem(60px);
    height: rem(32px);
    background-color: inherit;
    color: $clr6;
    border-radius: 500px;
    border: 1px solid rgba(255, 255, 255, 0.585);
    &:hover {
      border: 1px solid $clr6;
    }
  }
}
