.categories-index {
  padding-inline: 2rem 0;
  margin-inline-end: 1em;
  padding: 50px 25px;
  .search-header {
    padding-block-end: 5px;
    margin-block-start: 2.5rem;
    font-family: circular-book;
    font-size: 1.5rem;
  }
}
