.search-songs-container {
  margin-inline-start: rem(20px);
  position: relative;

  .search {
    margin: rem(20px) 0 0 rem(-35px);
  }
  h2 {
    margin-block-end: 0;
  }
  .search-songs-x {
    position: relative;
    background-color: transparent;
    border: 0;
    color: hsla(0, 0%, 100%, 0.7);
    top: 75%;
    left: 94%;
    svg {
      fill: $clr3;
      width: rem(30px);
      height: rem(22px);
    }
  }
  .input-container {
    position: relative;
    .search-input {
      background-color: hsla(0, 0%, 100%, 0.11);
      border: 0;
      border-radius: 4px;
      color: $clr3;
      height: rem(40px);
      opacity: 1;
      padding: rem(8px) rem(40px);
      text-overflow: ellipsis;
      width: 35%;
      &:focus {
        outline: none;
      }
    }
    .search-icon {
      position: absolute;
      top: 18%;
      left: rem(8px);
      svg {
        stroke: $clr3;
        cursor: pointer;
      }
    }
  }
}

.search-song-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-inline-start: rem(-10px);
  margin-block-start: rem(10px);
}

.img-and-title {
  width: 100%;
  .name-and-artist-container {
    flex-direction: column;
    margin-inline-start: rem(10px);

    .song-name {
      font-size: 13px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: rem(224px);
      @include for-mobile-layout {
        font-size: 14px;
      }
    }
    .song-artist {
      color: $clr3;
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: rem(100px);
      @include for-mobile-layout {
        font-size: 12px;
      }
    }
  }

}
.mobile-dots {
  fill: white;
  margin-inline-start: rem(40px);
}
