.search-station-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
  gap: rem(20px);
  margin-block-end: rem(80px);
  @include for-mobile-layout {
    grid-template-columns: 163px 163px;
    gap: rem(15px);
  }
}
