.search-songs-container {
  margin-inline-start: rem(20px);
  position: relative;

  .search {
    margin-top: 20px;
    margin-left: -45px;
  }
  .search-songs-x {
    position: absolute;
    background-color: transparent;
    border: 0;
    color: hsla(0, 0%, 100%, 0.7);
    right: 36px;
    top: 75%;

    svg {
      fill: $clr3;
      width: 30px;
      height: 22px;
    }
  }
  .input-container {
    position: relative;
    .search-input {
      background-color: hsla(0, 0%, 100%, 0.11);
      border: 0;
      border-radius: 4px;
      color: $clr3;
      height: 40px;
      opacity: 1;
      padding: 8px 40px;
      text-overflow: ellipsis;
      width: 35%;
      &:focus {
        outline: none;
      }
    }
    .search-icon {
      position: absolute;
      top: 18%;
      left: 8px;
      svg {
        stroke: $clr3;
        cursor: pointer;
      }
    }
  }
}
