.login-modal-backdrop {
  position: fixed;
  top: rem(-144px);
  left: rem(-250px);
  width: 100%;
  height: 100%;

  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-mobile-layout {
    top: -100px;
    left: -20px;
  }
}

.login-modal {
  position: relative;
  background-color: #0d72ea;
  border-radius: 8px;
  display: flex;
  padding: rem(16px);
  flex-direction: column;
  gap: rem(8px);
  line-height: 1.4;
  text-align: start;
  width: rem(332px);
  height: rem(140px);
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid #0d72ea;
    transform: translateY(-50%);
  }

  button {
    color: #000000;
    &:hover {
      scale: 1.05;
    }
  }
  .login-modal-login-btn {
    box-sizing: border-box;
    position: relative;
    height: rem(32px);
    cursor: pointer;
    border: none;
    background-color: white;
    display: flex;
    border-radius: 500px;
    font-size: inherit;

    align-items: center;
    font-weight: 700;
    justify-content: center;
    padding-block: rem(4px);
    padding-inline: rem(16px);
  }
  .login-modal-cancle-btn {
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-radius: 500px;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition-duration: 33ms;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    min-inline-size: 0px;
    color: #a7a7a7;
    padding-block: rem(4px);

    padding-inline: rem(16px);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: white;
    }
  }
  h1 {
    font-size: 1.125rem;
    font-weight: 700;
    font-family: circular-book;
    color: white;
    letter-spacing: rem(1px);
    margin: 0;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.4;
    color: white;
    font-family: circular-book;
    margin-inline-start: 1em;
    margin: 0;
    span {
      font-weight: bold;
    }
  }
}
.login-modla-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  width: 100%;
}
