.sort-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: #282828;
  border-radius: 4px;
  -webkit-box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3),
    0 6px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
  max-height: calc(100vh - 24px);
  max-width: rem(350px);
  min-width: rem(160px);
  color: hsla(0, 0%, 100%, 0.9);
  position: absolute;
  top: rem(20px);
  right: 0px;
  padding: rem(4px);
  z-index: 999;
.sort-by {
  font-size: 11px;
  font-weight: 700;
  font-family: circular-light;
  color: $clr3;
  align-self: start;
  margin-inline-start: rem(12px);
}
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: rem(10px) rem(12px);

    span {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    span.active {
      opacity: 1;
    }
    svg {
      fill: #1ed760; 
      display: flex;
    }

    p {
      font-size: 0.875rem;
      font-family: Roboto-Regular;
      margin: 0;
      width: 100%;
    }
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.1);
      color: #fff;
      border-radius: 2px;
    }
  }
}
