.station-options-modal {
  background-color: #282828;
  position: absolute;

  border-radius: 4px;
  -webkit-box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3),
    0 6px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
  max-height: calc(100vh - 24px);
  max-width: 350px;
  min-width: 160px;
  overflow-y: auto;
  padding: 4px;
  z-index: 9999;

  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      button {
        font-size: 14px;
        font-weight: 400;
        height: 40px;
        font-family: circular-book;
        padding: 12px;
        background: transparent;
        border: 0;
        border-radius: 2px;
        color: hsla(0, 0%, 100%, 0.9);
        cursor: default;
        text-decoration: none;
      }
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
        color: #fff;
        border-radius: 4px;
      }
    }
  }
}
