.info {
  text-decoration: none;
  font-family: circular-book;
  
  .station-preview {
    cursor: pointer;
    height: 273px;
    width: 186px;
    border-radius: 5px;
    background-color: $clr1;
    margin-inline-start: rem(30px);
    font-size: 12px;

    .station-info {
      flex-direction: column;
      align-items: start;
      margin-inline-start: 1rem;
      margin-block-start: 0;
      color: white;

      h3 {
         font-size: 16px;
         margin-block-start: 0;
         margin-block-end: 1px;
      }
      
      p {
        margin: 5px 0px -3px 2px;
         color: $clr3;
         padding: 0 ;
      }
    }

    .station-img {
      margin-inline-start: rem(12px);
      padding: 13px 2px;
      img {
         border-radius: 7px;
         width: 157px;
         height: 157px;
      }
    }
  }

  :hover {
    background-color: #282828;
  }
}