.station-list-container {
  padding: 55px 24px;
}
.station-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 189px));
  gap: rem(20px);
  a {
    cursor: default;
  }
}

.category-tag {
  font-family: circular-book;
  font-size: 24px;
  &:hover {
    text-decoration: underline;
  }
}

.song-animation-gif {
  height: 13px;
  width: 13px;
  margin-top: 13px;
  padding: 0;
  transform: translate(2px);
}
