.library-mobile {
  .user-library-actions {
    display: flex;
    justify-content: space-between;

    .section-one {
      display: flex;
      align-items: center;
      justify-items: center;
      gap: rem(16px);

      h1 {
        font-family: circular-book;
        margin: 0;
      }
      .user-library-mobile-img {
        height: rem(32px);
        width: rem(32px);
        margin-inline-start: rem(6px);

        img {
          border-radius: 50%;
        }
      }
    }

    .section-two {
      display: flex;
      align-items: end;
      justify-items: center;
      gap: rem(16px);

      span {
        svg {
          width: rem(24px);
          height: rem(24px);
        }
      }

      .plus-library {
        margin-inline-end: 16px;
      }

      .input-container {
        position: relative;
        .search-input {
          position: relative;
          right: 0;
          background-color: hsla(0, 0%, 100%, 0.11);
          border: 0;
          border-radius: 4px;
          color: #b3b3b3;
          height: rem(30px);
          padding: rem(8px) rem(30px);
          text-overflow: ellipsis;

          transition: all 0.3s ease-in;

          width: 0;
          &.open {
            animation: inputExpand 0.2s forwards;
          }
          &.close {
            animation: inputCollapse 0.2s forwards;
          }
          &:focus {
            outline: none;
          }
        }
      }

      span {
        svg {
          fill: white;
        }
      }
    }
  }

  .station-list-user {
    padding: rem(55px) rem(24px);
    @include for-mobile-layout {
      padding: rem(15px);
    }
    .station-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 189px));
      gap: rem(20px);
      @include for-mobile-layout {
        display: flex;
        flex-direction: column;
        gap: rem(16px);
      }
      a {
        cursor: default;
      }
    }
  }

  .category-tag {
    font-family: circular-book;
    font-size: 24px;
    width: max-content;
    @include for-mobile-layout {
      font-size: 18px;
      margin-inline-start: rem(3px);
    }
    &:hover {
      text-decoration: underline;
    }
  }

  .song-animation-gif {
    height: rem(13px);
    width: rem(13px);
    margin-block-start: rem(19px);
    padding: 0;
    transform: translate(2px);
  }
}
@keyframes inputExpand {
  0% {
    width: 0;
  }
  50% {
    width: rem(100px);
  }
  100% {
    width: rem(200px);
  }
}
@keyframes inputCollapse {
  0% {
    width: rem(200px);
  }
  50% {
    width: rem(100px);
  }
  100% {
    width: 0;
  }
}
