.user-library {
  background-color: $clr7;
  // position: relative;
  grid-column: 1;
  grid-row: 2;
  min-height: 100vh;
  border-radius: 7px;
  width: 100%;
  font-family: Circular-medium;
  .library-header {
    padding: 10px 18px;
    justify-content: space-between;
    color: #b3b3b3;
    span {
      margin: 7px;
    }
  }
  svg {
    fill: #b3b3b3;
    transition: color 0.3s ease;
  }

  .your-library {
    color: #b3b3b3;
    transition: color 0.3s ease;
    &:hover {
      color: $clr6;
      svg {
        fill: $clr6;
        transition: fill 0.3s ease;
      }
    }
  }
  .plus-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    &:hover {
      color: $clr6;
      background-color: #1a1a1a;
      svg {
        fill: $clr6;
        transition: fill 0.3s ease;
      }
    }
  }
  .your-library-btns {
    padding: 0 10px;
  }
  .library-btn {
    width: 72px;
    height: 32px;
    background-color: #232323;
    color: $clr6;
    border: none;
    border-radius: 20px;
    margin: 0 7px;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
    &:hover {
      background-color: #2b2b2b;
    }
  }
}
.library-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 27px;
  .smaller-search {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-bottom: 3px;
    &:hover {
      color: $clr6;
      background-color: #1a1a1a;
      svg {
        fill: $clr6;
        transition: fill 0.3s ease;
      }
    }
  }
  .sort-by-section {
    display: flex;
    gap: rem(10px);
    .sort-by-span {
      font-size: 14px;
      color: #b8b8b8;
    }
    .arrow {
      margin-inline-end: rem(5px);
    }

    &:hover {
      .arrow {
        svg {
          fill: white;
        }
      }
      .sort-by-span {
        color: white;
      }
    }
  }
}
