.user-modal {
  display: flex;
  flex-direction: column;
  background-color: #282828;
  border-radius: 4px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
  max-height: calc(100vh - 24px);
  max-width: rem(350px);
  min-width: rem(160px);
  overflow-y: auto;
  padding: rem(5px);
  color: hsla(0, 0%, 100%, 0.9);
  position: absolute;
  top: rem(60px);
  right: rem(40px);
  z-index: 999;
  .user-actions-modal {
    p {
      font-size: 0.875rem;
      font-family: Roboto-Regular;
        padding: 0 rem(10px);
        border-radius: 4px;
    }

    &:hover {
      background-color: hsla(0, 0%, 100%, 0.1);
      color: #fff;
      border-radius: 2px;
    }
  }

  .line {
    width: 100%;
    height: 0.1px;
    background-color: rgb(102, 104, 102);
  }
}
