.user-library {
  background-color: $clr7;
  grid-column: 1;
  grid-row: 2;
  min-height: 100vh;
  border-radius: 7px;
  width: 100%;
  font-family: Circular-medium;
  @include for-mobile-layout {
    display: none;
  }
  .library-header-wrapper {
    position: sticky;
  }
  .library-header {
    padding: 10px 18px;
    justify-content: space-between;
    color: #b3b3b3;

    span {
      margin: 7px;
    }
  }
  svg {
    fill: #b3b3b3;
    transition: color 0.3s ease;
  }

  .your-library {
    color: #b3b3b3;
    transition: color 0.3s ease;
    &:hover {
      color: $clr6;
      svg {
        fill: $clr6;
        transition: fill 0.3s ease;
      }
    }
  }
  .plus-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    &:hover {
      color: $clr6;
      background-color: #1a1a1a;
      svg {
        fill: $clr6;
        transition: fill 0.3s ease;
      }
    }
  }
  .your-library-btns {
    padding: 0 10px;
  }
  .library-btn {
    width: 72px;
    height: 32px;
    background-color: #232323;
    color: $clr6;
    border: none;
    border-radius: 20px;
    margin: 0 7px;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
    &:hover {
      background-color: #2b2b2b;
    }
  }
}
.filter-and-list {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(234, 227, 227, 0) transparent;

  &:hover {
    scrollbar-color: rgba(234, 227, 227, 0.39) transparent;
  }

  &::-webkit-scrollbar {
    width: 13px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(234, 227, 227, 0);
    transition: background-color 2s;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(234, 227, 227, 0.39);
  }
  .library-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    .input-container {
      position: relative;
      .search-input {
        background-color: hsla(0, 0%, 100%, 0.11);
        border: 0;
        border-radius: 4px;
        color: #b3b3b3;
        height: 30px;
        padding: 8px 30px;
        text-overflow: ellipsis;
        position: absolute;
        transition: all 0.3s ease-in;
        top: 0;
        width: 0;
        &.open {
          animation: inputExpand 0.2s forwards;
        }
        &.close {
          animation: inputCollapse 0.2s forwards;
        }

        &:focus {
          outline: none;
        }
      }
    }
    .smaller-search {
      width: 32px;
      height: 30px;
      border-radius: 50%;
      margin-bottom: 3px;
      &:hover {
        color: $clr6;
        background-color: #1a1a1a;
        svg {
          fill: $clr6;
          transition: fill 0.3s ease;
        }
      }
    }
    .sort-by-section {
      display: flex;
      gap: rem(10px);
      .sort-by-span {
        font-size: 14px;
        color: #b8b8b8;
        width: max-content;
      }
      .arrow {
        margin-top: -3px;
      }

      &:hover {
        .arrow {
          svg {
            fill: white;
          }
        }
        .sort-by-span {
          color: white;
        }
      }
    }
  }
}
@keyframes inputExpand {
  0% {
    width: 0;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 170px;
  }
}
@keyframes inputCollapse {
  0% {
    width: 170px;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
