// Main Color
$clrGreen:     #1ed760;
$clrGreenLight:#1fdf64; //HOVER

//B&W
$clr2: #000;  //used for nav and initial header
$clr1: #181818; //used for main background
$clr4: #212121; //used for borders and outlines
$clr5: #3e3d3d; //used for box shadow and station hover
$clr9: #2d2d2d; // Another dark grey
$clr12:#404040; // Yet another dark grey
$clr3: #b3b3b3; //used for nav/header font color
$clr11:#a7a7a7;
$clr10:#535353;
$clr7: #121212; // used for station preview
$clr8: #282828; //used for footer border top
$clr6: #fff;
$clr13: #3e3e3e;

//FACEBOOK
$clrFb:     #405a93;
$clrFbHover:#384f81;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
