.spotify-login-page {
  background-color: #121212;
  font-family: Circular-medium;
  color: $clr6;
  overflow-y: scroll;
  min-height: 100vh;
  .login-header {
    a{
      display: block;
        width: max-content;
    }
      background-color: black;
      height: rem(100px);
      padding: rem(32px) rem(51px);
    margin-block-end: rem(20px);
  }
  .login-main-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    width: rem(734px);
    height: rem(900px);
    padding: rem(10px);
    background-color: black;
    border-radius: 8px;
    h2 {
      font-family: Circular-medium;
      font-size: 40px;
    }
    .continue {
      gap: rem(10px);
      button {
        font-size: 16px;
        font-family: Circular-medium;
        width: rem(324px);
        height: rem(48px);
        background-color: inherit;
        border: 1px solid #727272;
        color: $clr6;
        border-radius: 200px;
        &:hover {
            border: 1px solid $clr6;
        }
        img {
            width: rem(24px);
            height: rem(24px);
        }
      }
    }
    .empty-line {
      width: rem(534px);
      height: rem(1px);
      margin: rem(15px) rem(100px);
      border-right: none;
      border-bottom: none;
      border-left: none;
      border-image: initial;
      border-top: 1px solid rgb(41, 41, 41);
    }
    form {
      .spotify-username {
        gap: rem(8px);
        span {
          font-size: 14px;
        }
      }
      .spotify-password {
        gap: rem(8px);
        span {
          font-size: 14px;
        }
      }
    }
    input {
      width: rem(324px);
      height: rem(48px);
      background-color: #121212;
      outline: 1px solid #727272;
      border: 0px;
      border-radius: 4px;
      padding: rem(10px);
      margin-block-end: rem(20px);
      color: $clr6;
      &:hover {
        outline: 1px solid $clr6;
    }
    &:focus {
        outline: 3px solid $clr6;
    }
    }
    .login-btn {
      width: rem(324px);
      height: rem(48px);
      color: black;
      border-radius: 200px;
      background-color: #1ed760;
      border: none;
      font-size: 16px;
      font-family: Circular-medium;
    }
  }
  .go-to-signup {
    font-family: Circular-light;

    align-items: baseline;

    gap: rem(5px);
    span {
      color: #a7a7a7;
    }
    a {
      color: $clr6;
      text-decoration:underline;
      &:hover {
        color: #1ed760;
      }
    }
  }
}
