.only-song-lyrics {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 80px 24px;
  padding-block-end: 1.5rem;
  line-height: 1.7;
  padding-inline-start: 30px;
  margin-block-end: 100px;
}
