.no-search-songs {
  width: 100%;
  height: rem(59px);
  padding: 0 rem(16px);
  margin: rem(24px) 0 0;
  display: flex;
  gap: 16px;
  flex-direction: column;

  h1,
  p {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-family: circular-book;
    font-size: 1.125rem;
    font-weight: 700;
  }
}
