.spotify-signup-page {
  background-color: $clr6;
  color: $clr2;
  min-height: rem(1000px);
  margin: 0px auto;
  padding-bottom: rem(240px);

  h1 {
    font-size: 24px;

    font-family: Circular-medium;
    letter-spacing: -0.04em;
    @include for-mobile-layout {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      // margin: 20px;
    }
  }
  .signupW {
    gap: rem(8px);
    .fb-btn {
      width: rem(394px);
      height: rem(45px);
      border-radius: 200px;
      font-family: Circular-medium;
      font-size: 16px;
      border: none;
      background-color: #425b91;
      color: $clr6;
      transition: opacity 0.01s 0.01s, transform 0.01s 0.01s;
      &:hover {
        transform: scale(1.03);
        font-weight: bolder;
      }
      img {
        width: rem(24px);
        height: rem(24px);
        border-radius: 50%;
      }
    }
    .google-btn {
      width: rem(394px);
      height: rem(48px);
      border-radius: 200px;
      font-family: Circular-medium;
      font-size: 16px;
      background-color: inherit;
      color: #535353;
      border: 2px solid #535353;
      transition: opacity 0.01s 0.01s, transform 0.01s 0.01s;
      &:hover {
        transform: scale(1.03);
        font-weight: bolder;
      }
    }
    .divider {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      .line {
        flex-grow: 1;
        height: 1px;
        background-color: #ccc;
      }

      span {
        padding: 0 1em;
        color: #777;
        letter-spacing: 2px;
        font-size: 16px;
        font-family: Circular-light;
        font-weight: 700;
      }
    }
  }
  h3 {
    font-family: Circular-light;
    font-size: 18px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: rem(10px);
    .label {
      font-family: Circular-medium;
      @include for-mobile-layout {
        font-size: 14px;
      }
    }
    input {
      width: rem(450px);
      height: rem(48px);
      border: 1px solid #878787;
      border-radius: 4px;
      margin: rem(8px) 0;
      padding: 15px;
      @include for-mobile-layout {
        width: auto;
      }
      &:hover {
        border: 1px solid black;
      }
    }
    small {
      font-family: Circular-light;
      font-size: 14px;
    }
    button {
      font-size: 18px;
      font-family: Circular-medium;
      background-color: #1ed760;
      border-radius: 500px;
      width: rem(159px);
      height: rem(56px);
      border: none;
      margin-left: 32%;
      margin-bottom: rem(20px);
      transition: opacity 0.01s 0.01s, transform 0.01s 0.01s;
      @include for-mobile-layout {
        margin-left: 27%;
      }
      &:hover {
        transform: scale(1.03);
      }
    }
  }
  .go-to-login {
    font-size: 16px;
    font-family: Circular-light;
    gap: rem(5px);
    a {
      color: #39b95b;
      text-decoration: underline;
      &:hover {
        color: #1ed760;
      }
    }
  }
}
