.spotify-signup-page {
  background-color: $clr6;
  color: $clr2;
  min-height: 1000px;


  margin: 0px auto;
  padding-bottom: 130px;



  h1 {
    font-size: 32px;
    font-family: Circular-medium;
    letter-spacing: -0.04em;
  }
  .signupW { 
    gap: 20px;
    .fb-btn {
      width: 394px;
      height: 48px;
      border-radius: 200px;
      font-family: Circular-medium;
      font-size: 16px;
      border: none;
      background-color: #425b91;
      color: $clr6;
    }
    .google-btn {
      width: 394px;
      height: 48px;
      border-radius: 200px;
      font-family: Circular-medium;
      font-size: 16px;
      background-color: inherit;
      color: #535353;
      border: 2px solid #535353;
    }
    .line {
      .divider {
        width: 534px;
        height: 1px;
        margin: 32px 100px;
        border-right: none;
        border-bottom: none;
        border-left: none;
        border-image: initial;
        border-top: 3px solid rgb(41, 41, 41);
      }
    }
  }
  h3 {
    font-family: Circular-light;
    font-size: 18px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .label {
        font-family: Circular-medium;
    }
    input {
        width: 450px;
        height: 48px;
        border: 1px solid #878787;
        border-radius: 4px;
        margin: 8px 0;
        padding: 15px;
        &:hover {
            border: 1px solid black;
        }
    }
    small {
        font-family: Circular-light;
        font-size: 14px;
    }
    button {
        font-size: 18px;
        font-family: Circular-medium;
        background-color: #1ed760;
        border-radius: 500px;
        width: 159px;
        height: 56px;
        border: none;
        margin-left: 32%;
    margin-bottom: 30px;
    }
  }
  .go-to-login {
    font-size: 16px;
    font-family: Circular-light;
    gap: 5px;
    a {
        color: #39b95b;
        text-decoration: underline;
        &:hover {
            color:#1ed760;
        }
    }
  }
}
