.song-lyrics-section {
  max-height: 89%;
  font-family: Circular-book;
  height: calc(100vh - 1px);

  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    // for Chrome, Safari
    width: 13px;
  }

  &::-webkit-scrollbar-thumb {
    // for Chrome, Safari
    background-color: rgba(234, 227, 227, 0.39);
    &:hover {
      background-color: rgba(234, 227, 227, 0.552);
    }
  }

  .song-details-wrapper {
    display: flex;

    font-family: Circular-book;
  }

  .song-details-lyrics {
    // overflow-y: scroll;
    // scrollbar-width: thin;
    // scrollbar-color: transparent transparent;
    line-height: 1.7;
    width: 100px;
    padding-inline-start: 30px;
    margin-block-end: 100px;
    margin-block-start: 20px;
    // overflow-y: scroll;

    // scrollbar-width: none; /* Hide the scrollbar for Firefox */
    // -ms-overflow-style: none; /* Hide the scrollbar for Internet Explorer and Edge */
  }

  // .song-details-lyrics::-webkit-scrollbar {
  //   display: none;
  // }
}
