.song-lyrics-section {
  max-height: 89%;
  font-family: Circular-book;
  height: calc(100vh - 1px);

  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  &::-webkit-scrollbar {
    width: rem(13px);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(234, 227, 227, 0.39);
    &:hover {
      background-color: rgba(234, 227, 227, 0.552);
    }
  }
  .song-details-wrapper {
    display: flex;
    color: #fff;
    font-family: Circular-book;
    width: 100%;
    display: flex;
    align-items: center;
    padding: rem(80px) rem(24px);
    padding-block-end: 1.5rem;
    .image {
      margin-right: rem(24px);
      -webkit-box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
      box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
      width: rem(192px);
      height: rem(192px);
    }
  }

  .song-details-header {
    .artist-details {
      display: flex;
      align-items: center;
      justify-items: center;
      gap: rem(4px);
      margin-block-start: rem(8px);

      small {
        font-size: 14px;
        color: #fff;
      }
    }
    h1 {
      font-size: 0.875rem;
      font-weight: 700;
      font-family: Circular-book;
    }
    .special-h {
      margin: 0.08em 0px 0.12em;
      font-size: 3rem;
    }
    .small-image {
      width: rem(24px);
      height: rem(24px);
      img {
        border-radius: 50%;
      }
    }
  }

  .song-details-lyrics {
    line-height: 1.7;
    padding-inline-start: rem(30px);
    margin-block-end: rem(100px);

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0 0 rem(16px);
      color: #fff;
    }
  }

  .song-details {
    padding: rem(24px) rem(16px);
    display: flex;
    gap: rem(20px);
    align-items: center;
    justify-items: center;

    .play-button {
      .lyrics-play {
        svg {
          fill: black;
        }
      }
      button {
        background-color: transparent;
        border: none;
        outline: none;
      }
      .dots {
        margin-left: -47px;
      }
    }

    span {
      svg {
        fill: #b3b3b3;
      }
    }
  }
}
