.station-songs-header {
  display: grid;
  grid-template-columns: 16px 2fr 1.3fr 0.7fr minmax(120px, 1fr);
  padding: 0 20px;
}

.station-header-content {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
  padding-block-end: 1.5rem;

  .station-description {
    color: rgba(255, 255, 255, 0.698);
  }

  .station-name {
  margin: 0.08em 0px 0.12em;
  visibility: visible;
  width: 100%;
  font-size: 4.5rem;
}

.station-main-img {
  object-fit: cover;
  border-radius: 1px;
  margin-inline-end: 24px;
  box-shadow: 0 2px 8px rgba($clr2, 0.2), 0 1px 2px rgba($clr2, 0.1);
  height: 232px;
  min-width: 232px;
  width: 232px;
}

}

.station-songs {
  font-family: circular-book;
  height: calc(100vh - 500px);
  overflow-y: scroll;
  .song {
    padding: 0 16px;
    position: relative;
    border: 1px solid transparent;
    height: 56px;
    display: grid;
    grid-template-columns: 16px 2fr 1.3fr 0.7fr minmax(120px, 1fr);
    gap: 10px;
    border-radius: 4px;
   border: 1px solid #292a2a;
    &:hover {
      background-color: #292a2a;
    }
    .song-details-container {
      grid-column: 2;
      display: grid;
      grid-template-columns: 50px 1fr;
      .name-and-artist {
        margin-inline-start: rem(12px);
        flex-direction: column;
        gap: 8px;
        grid-column: 2;
        .song-artist {
          color: $clr3;
          font-size: 14px;
        }
      }
      .song-img {
        height: 40px;
        width: 40px;
      }
    }
    .song-idx {
      grid-column: 1;
      color: $clr14;
    }
    .album-name {
      grid-column: 3;
      color: $clr14;
    }
    .duration-container {
      justify-content: space-evenly;
      align-items: center;
      .hidden {
        opacity: 0;
      }
      .duration {
        margin-inline-end: -17px;
        color: $clr14;
      }
      .dots {
        fill: $clr6;
      }
    }
    &:hover {
      .hidden {
        opacity: 1;
      }
    }
  }
}
