.station-songs-header {
  display: grid;
  grid-template-columns: 16px 2fr 1.3fr 0.7fr minmax(120px, 1fr);
  padding: 0 20px;
}
.station-songs {
  font-family: circular-book;
  .song {
    padding: 0 16px;
    position: relative;
    border: 1px solid transparent;
    height: 56px;
    display: grid;
    grid-template-columns: 16px 2fr 1.3fr 0.7fr minmax(120px, 1fr);
    gap: 10px;
    border-radius: 4px;
    &:hover {
      background-color: #292a2a;
    }
    .song-details-container {
      grid-column: 2;
      display: grid;
      grid-template-columns: 50px 1fr;
      .name-and-artist {
        margin-inline-start: rem(12px);
        flex-direction: column;
        gap: 8px;
        grid-column: 2;
        .song-artist {
          color: $clr3;
          font-size: 14px;
        }
      }
      .song-img {
        height: 40px;
        width: 40px;
      }
    }
    .song-idx {
      grid-column: 1;
      color: $clr14;
    }
    .album-name {
      grid-column: 3;
      color: $clr14;
    }
    .duration-container {
      justify-content: space-evenly;
      align-items: center;
      .hidden {
        opacity: 0;
      }
      .duration {
        margin-inline-end: -17px;
        color: $clr14;
      }
      .dots {
        fill: $clr6;
      }
    }
    &:hover {
      .hidden {
        opacity: 1;
      }
    }
  }
}
