// .station-index {
//   margin-bottom: 0;
//   grid-column: 2;
//   background-color: pink;
//   grid-row: 1/2;
// }

.container {
  background-color: $clr13;
  grid-column: 2;
  border-radius: 7px;
  // grid-row: 1/3;
}
