.container {
  background-color: $clr7;
  grid-row: 1;
  grid-column: 2;
  border-radius: 7px;
  min-height: 100vh;
}

.station-index {
  overflow-y: scroll;
  height: 100vh;
  max-height: 94%;
  -webkit-box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3),
    0 6px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  @include for-mobile-layout {
    box-shadow:none;
  }

  &::-webkit-scrollbar {
    width: rem(13px);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(234, 227, 227, 0.39);
    &:hover {
      background-color: rgba(234, 227, 227, 0.552);
    }
  }
  .greeting {
    font-size: 32px;
    font-family: circular-medium;
    padding: rem(35px) rem(24px);
  }
}
