.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.pointer {
  cursor: pointer;
}
.column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.green {
  color: #1ed760;
}

.green-fill {
  svg {
    fill: #1ed760;
  }
}

.hidden {
  opacity: 0;
}

.title[title]:hover::after {
  content: attr(title);
  background-color: $clr4;
  position: absolute;
  top: -30%;
  height: 25px;
  line-height: 30px;
  padding: 8px;
  border-radius: 10px;
}
  
.dot {
  font-size: 0.7rem;
  padding: 2px;
}