.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.pointer {
  cursor: pointer;
}
.column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.green {
  color: #1ed760;
}

.green-fill {
  svg {
    fill: #1ed760;
  }
}

.hidden {
  opacity: 0;
}

.dot {
  font-size: 0.7rem;
  padding: 2px;
}
