.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.pointer {
  cursor: pointer;
}
.column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.green {
  color: #1ed760;
}

.green-fill {
  svg {
    fill: #1ed760;
  }
}

.hidden {
  opacity: 0;
}

.dot {
  font-size: 0.7rem;
  padding: 2px;
}
.scrolled {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px 0px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.margin {
  fill: #afb8b7;

  &:hover {
    fill: $clr6;
  }
}

.border-line {
  width: 100%;
  height: rem(1px);
  background-color: rgba(255, 255, 255, 0.1019607843);
}

.border-radius {
  border-radius: 50%;
}
