.main-app {
  display: grid;
  grid-template-columns: 420px 4fr;
  grid-template-rows: 112px 3fr 1fr;
  column-gap: rem(8px);
  padding: rem(8px);
  @include for-mobile-layout {
    grid-template-columns: auto;
  }
}
