@font-face {
  font-family: gotham;
  //   src: url('../../../../src/assets/fonts/GothamMedium_1.ttf');
  src: url('../../fonts/GothamLight.ttf');
}

@font-face {
  font-family: gotham-light;
  //   src: url('../../fonts/GothamMedium_1.ttf');
  src: url('../../fonts/GothamLight.ttf');
}
@font-face {
  font-family: Roboto-Regular;
  //   src: url('./../../../../src/assets/fonts/Roboto-Regular.ttf');
  src: url('../../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Circular-light;
  //   src: url('./../../../../src/assets/fonts/CircularStd-Light.otf');
  src: url('../../fonts/CircularStd-Light.otf');
}

@font-face {
  font-family: Circular-medium;
  //   src: url('./../../../../src/assets/fonts/CircularSpotifyText-Medium.otf');
  src: url('../../fonts/CircularSpotifyText-Medium.otf');
}

@font-face {
  font-family: circular-book;
  //   src: url('@/assets/fonts/CircularSpotifyText-Book.otf');
  src: url('../../fonts/CircularSpotifyText-Book.otf');
}
